{
	"id": "dnp3-master",
	"description": "A dnp3 master implementation.",
	"creator": "PNNL",
	"input_topics": [],
	"output_topics": [],
	"static_args": ["(simulationId)"],
	"execution_path": "/gridappsd/services/dnp3-master/service/start_service.py",
	"type": "PYTHON",
	"launch_on_startup": "true",
	"service_dependencies": [],
	"multiple_instances": "true",
	"environmentVariables":[],
	"user_input": {
        "outstation-names": {
            "help": "List of outstations names",
            "help_example": ["name1","name2"],
            "default_value": ["RTU1"],
            "type": "list"
        }
    }
}

